[contenteditable=true]:empty:not(:focus):before {
    content: attr(data-text)
}

.editor {
    border:solid 1px #ccc;
    padding: 5px;
    min-height:200px;
    font-size: 30px;
}

.editor-title {
    border:solid 1px #ccc;
    padding: 5px;
    font-size: 30px;
}

.text-toolbar {
    border: solid 1px #dddddd;
    background: #f4f4f4;
    padding: 8px;
    border-radius: 3px;
}

.text-toolbar > span {
    cursor: pointer;
    padding: 1px;
}

.text-toolbar > a > span:hover {
    text-decoration: underline;
    color: #000000;
}

.post-title {
    font-size: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 75%;
    margin: 0 auto;
}

.post{
    color: #373736;
    letter-spacing: 1px;
    line-height: 1.75em;
}

.post:not(:last-of-type){
    padding-bottom: 1rem;
    border-bottom: dotted 1px #000000;
}

.post__date {
    margin-top: 1.5em;
    font-size: 0.8em;
}

.newsletter {
    /* turn into flex container, refer to music player app */
    background-color: chartreuse;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
}

.newsletter__img {
    display: flex;
    max-width: 350px;
    height: auto;
    border: black 1px solid;

}

.newsletter__img img {
    border-radius: 50%;
    /* this controls the scaling of the photo */
    height: auto;
    width: 100%;
    padding: 30px;
}

.newsletter__text {
    border: black 1px solid;
    display: flex;
    flex-direction: column;
}