[contenteditable=true]:empty:not(:focus):before {
    content: attr(data-text)
}

.editor {
    border:solid 1px #ccc;
    padding: 5px;
    min-height:200px;
    font-size: 30px;
}

.editor-title {
    border:solid 1px #ccc;
    padding: 5px;
    font-size: 30px;
}

.text-toolbar {
    border: solid 1px #dddddd;
    background: #f4f4f4;
    padding: 8px;
    border-radius: 3px;
}

.text-toolbar > span {
    cursor: pointer;
    padding: 1px;
}

.text-toolbar > a > span:hover {
    text-decoration: underline;
    color: #000000;
}

.post-title {
    font-size: 20px;
}

.main {
    width: 60%;
    margin: 0 auto;
}