* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

html,
body{
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav {
    margin: 0 auto;
    height: 50px;
    border-bottom: 1px solid #A2A2A2;
    border-top: 1px solid #A2A2A2;
}

.nav__elements {
    margin: 0 auto;
    height: 100%;
    width: 400px;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1.25rem;
    vertical-align: center;
    color: #A2A2A2;
    letter-spacing: 1px;
}

.nav__elements__element{
    display: inline;
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: justify;
    overflow: hidden;
}

.nav__elements__element:hover {
    text-decoration: underline;
    color: black;
}


.header {
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 20px;
}